body
{
	margin: 0;
	padding: 20px 0px 0px 0px;
}

.center
{
	margin: 0 auto;
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}

header
{
	width:1000px;
	height: 379px;
}

nav
{
	width: 100%;
	height: 50px;
	background: #4c8b16;
}

nav > ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0px; /*убираем левый отступ, равный 40px*/
  padding-top: 9px;
  text-align: center;
}

nav > ul > li 
{
	display: inline;
	margin-right: 50px;
}

nav >ul > li > a 
{
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	font-size: 25px;
	color: #ffffff;
	font-family: Helvetica, sans-serif;
}

nav >ul > li > a:hover
{
	text-decoration: underline;
	font-size: 25px;
	color: #ffff3f;
	font-family: Helvetica, sans-serif;
}

.center > img
{
	width: 1000px;
}
